* {font-family: Nanum Gothic;padding: 0;margin: 0;}
h1 { width: 20%;padding: 3px 10px;border: 1px solid gray;background: #000;color: #fff;text-align: left;font-size: 22px;font-weight: normal;border-radius: 5px;}
hr {border: 1px dashed #d4d4d4;}
.nav ul {list-style-type: circle;}
.nav ul li a{text-decoration: none;color: #000;}
.checkbox input[type=checkbox] {position: static;margin-left: 0;}