h1 { width: 15%;padding: 3px; border: 1px solid gray;text-align: center;font-size: 22px;font-weight: normal;border-radius: 5px;}
hr {border: 1px dashed #d4d4d4;}
.nav ul {list-style-type: circle;}
.nav ul li a{text-decoration: none;color: #000;}