<!-- Main Header -->
<header class="main-header"  ng-include="mainHeader" ng-controller="controlMainHeader"></header>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar" ng-include="mainSidebar" ng-controller="controlMainSidebar"></aside>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-include="contentWrapper" ng-controller="controlContentWrapper"></div>
<!-- /.content-wrapper -->

<!-- Main Footer -->
<footer class="main-footer" ng-include="mainFooter" ng-controller="controlMainFooter"></footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark" ng-include="controlSidebar"></aside>
<!-- /.control-sidebar -->

<!-- Add the sidebar's background. This div must be placed
    	 immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>
