<div class="wrapper" ng-controller="rivalWarLayoutController">
	<!-- Main Header -->
	<header class="main-header" ng-include="'partials/layout/header/rivalWar/'"></header>
	<!-- Left side column. contains the logo and sidebar -->
	<aside class="main-sidebar" ng-include="'partials/layout/aside/rivalWar/'"></aside>

	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper" ng-include="'partials/layout/contents/rivalWar/'"></div>
	<!-- /.content-wrapper -->

	<!-- Main Footer -->
	<footer class="main-footer" ng-include="'partials/layout/footer/rivalWar/'"></footer>

	<!-- Control Sidebar -->
	<aside class="control-sidebar control-sidebar-dark" ng-include="'partials/layout/sidebar/rivalWar/'"></aside>
	<!-- /.control-sidebar -->

	<!-- Add the sidebar's background. This div must be placed
	    	 immediately after the control sidebar -->
	<div class="control-sidebar-bg"></div>

  	<!-- 로그인 -->
  	<div sign-in-modal visible="showSingIn"></div>
</div>
