
<!-- Content Header (Page header) -->
<section class="content-header" ng-controller="whyJsTreeHeaderController">
	<h1>
		jsTree Sevice Engine
		<small>Support System</small>
	</h1>
	<ol class="breadcrumb">
		<li>
			<a href="#StandardDevelopment#/dev" ng-click="broadcastGoToHome()">
				<i class="fa fa-home"></i>
				Home
			</a>
		</li>
		<li class="active">jsTree Sevice Engine</li>
		<li class="active">whyJsTree</li>
	</ol>
</section>

<!-- Main content -->
<section class="content" ng-controller="whyJsTreeController">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-default">
            <div class="box-header with-border">
              <i class="fa fa-warning"></i>

              <h3 class="box-title">Why jsTree?</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-ban"></i> 설계 중 입니다!</h4>
                DWR 버전을 설계 중입니다.</br>
                우리는 jsTree를 통하여 각 클라이언트가 비동기 방식으로 자동으로 변화된 데이터를 감지하고 화면에 표시되기위하여 상기 버전을 설계중입니다.</br>
                조속한 시일내에 발표를 하도록 하겠습니다. 감사합니다.
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
		</div><!-- /.col -->
	</div><!-- /.row -->
</section>

<section class="text" ng-controller="whyJsTreeController">
  <ul class="text-list">
    <li ng-repeat="work in workList">
      <p>{{work.num}} : {{work.name}}</p>
    </li>
  </ul>
  <div class="form-group">
      <p class="control-label col-sm-2">체크 라디오</p>
      <ul class="col-sm-10">
        <li>
          <label for="test-check1">1번</label>
          <input type="radio" id="test-check1" ng-model="testCheck" value="1번">
        </li>
        <li>
          <label for="test-check2">2번</label>
          <input type="radio" id="test-check2" ng-model="testCheck" value="2번">
        </li>
      </ul>
    </div>
    <div class="check-box" ng-switch="testCheck">
      <p class="check-01" ng-switch-when="1번" style="margin-left:100px">
          1번 체크
      </p>
      <p class="check-02" ng-switch-when="2번" style="margin-left:100px">
          2번 체크
      </p>
    </div>
  </div>

</section>
