@charset "utf-8";

.content .top_title a {
    color: #fff;
    border-bottom: none;
    margin-left: 16px;
}
.c-green {
    color: #009764;
    font-weight: bold;
}
.mr8{margin-right: 8px;}
.content .visits-chart{
    height: inherit;
    margin-top: 10px;
}
.fa.un-like {
    font-size: 50px;
    float: left;
    width: 13%;
}
.progress-bar.pbr-red{
    width: 70%;
    background-color: #dd4b39;
}
.progress-bar.pbr-green{
    width: 70%;
    background-color: #46c377;
}
.progress-bar.pbr-blue{
    width: 70%;
    background-color: #00acee;
}
.info.txt-center {
    text-align: center;
}
.o-hidden{
    overflow: hidden;
}
.news-list.stretchable .is-first-box{
    display: inline-block;
    margin-left: 12px;
}
.news-list img{
    width: 100%;
    height: 400px;
    /* overflow: hidden; */
    margin-bottom: 5px;
    border: 2px solid;
}
.news-list .news-item-info{
    margin-left: 0;
}
.news-list .news-item-info > a{
    display: block;
    clear: both;
    color: white;
    padding: 5px 27px;
    border-bottom: 1px solid gray;
    font-size: 15px;
}
.news-list.stretchable>li{
    height: auto;
    width: 31%;
    display:inline-block;
    margin:0px -6px;
    padding: 12px;
}
.widget.is-info{
    padding: 15px 7px 0px;
}
.body.is-spec-box{
    width: 33%;
    display: inline-block;
    margin-right: 14px;
}
.is-spec-box .progress.progress-small{
    position: relative;
    top: 11px;
}
.table.table-striped tr > th{
    width: 16%;
}














