@charset "utf-8";

.content .top_title a {
    color: #fff;
    border-bottom: none;
    margin-left: 16px;
}
.c-green {
    color: #009764;
    font-weight: bold;
}
.mr8{margin-right: 8px;}
.content .visits-chart{
    height: inherit;
    margin-top: 10px;
}
.fa.un-like {
    font-size: 50px;
    float: left;
    width: 13%;
}
.progress-bar.pbr-red{
    width: 70%;
    background-color: #dd4b39;
}
.progress-bar.pbr-green{
    width: 70%;
    background-color: #46c377;
}
.progress-bar.pbr-blue{
    width: 70%;
    background-color: #00acee;
}
.info.txt-center {
    text-align: center;
}
.widget.o-hidden{
    overflow: hidden;
}