    <!-- Content Header (Page header) -->
    <section class="content-header" ng-controller="strutsiBatisController">
      <h1>
        jsTree Sevice Engine
        <small>Support System</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li class="active">strits iBatis</li>
        <li class="active">Demo</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
		 <!-- Info boxes -->
	      <div class="row">
	        <div class="col-md-12">
	          <div class="box">
	            <div class="box-header with-border">
	              <h3 class="box-title">JAVA &amp; Oracle ( struts2 + iBatis2 ) demo + event order</h3>

	              <div class="box-tools pull-right">
	                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
	                </button>
	                <div class="btn-group">
	                  <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
	                    <i class="fa fa-wrench"></i></button>
	                  <ul class="dropdown-menu" role="menu">
	                    <li><a href="#/dev">Action</a></li>
	                    <li><a href="#/dev">Another action</a></li>
	                    <li><a href="#/dev">Something else here</a></li>
	                    <li class="divider"></li>
	                    <li><a href="#/dev">Separated link</a></li>
	                  </ul>
	                </div>
	                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
	              </div>
	            </div>
	            <!-- /.box-header -->
	            <div class="box-body">
	              <div class="row">
	                <div class="col-md-8">

	                  	<!-- jstree -->
						<div id="jsTreeContainer">
							<article>
								<div class="clearfix">
									<div class="container bm-remove">
										<div id="article" class="one-whole boxed p-twenty animate-in clearfix" data-anim-type="fade-in" data-anim-delay="0">
											<div class="article-body rte" itemprop="articleBody">
												<div id="description">
													<div class="clearfix">
														<!-- Style Setting --> 
														<div id="mmenu" style="clear:both;" class="clearfix">
															<form class="niceform">
																<div class="desktop-tablet alpha boxed bm-remove btn_wrap01">
																	<button type="button" id="add_folder"><i class="fa fa-plus"></i> add folder</button>
																	<button type="button" id="add_default"><i class="fa fa-plus"></i> add file</button>
																	<button type="button" id="rename"><i class="fa fa-eraser"></i> rename</button>
																	<button type="button" id="remove"><i class="fa fa-minus"></i> remove</button>
																	<button type="button" id="cut"><i class="fa fa-cut"></i> cut</button>
																	<button type="button" id="copy"><i class="fa fa-copy"></i> copy</button>
																	<button type="button" id="paste"><i class="fa fa-paste"></i> paste</button>
																</div>
																<div class="desktop-tablet alpha bm-remove boxed last btn_wrap02">
																	<div class="textInputVerticalCenter">
																		<input type="text" id="text" placeholder="찾을 노드 이름 입력" class="inline-block bm-remove tip-r-fade" data-tooltip="Press Enter To Node To Search"/>
																	</div>
																	<button type="button" id="search" title="Search"><i class="fa fa-search"></i></button>
																	<button type="button" id="clear_search" title="Clear"><i class="fa fa-eraser"></i></button>
																</div>
															</form>
														</div> <!-- /.mmenu -->
														<!-- 
														<div class="clearfix">
															<button type="button" id="reconstruct" value="reconstruct" onclick="javascript:alert('not supprt')" />
															<button type="button"  id="analyze" value="analyze" onclick="$('#alog').load('/egovframework/com/ext/jstree/strutsiBatis/analyzeNode.action');" />
															<button type="button" id="refresh" value="refresh" onclick="$('#demo').jstree('refresh',-1);" />
														</div>
														<div id='alog' style="float:left; border:1px solid gray; padding:5px; height:150px; margin-top:15px; overflow:auto; width: 100%;max-width:1180px;">
														</div>
														-->
														<div id="demo" class="demo demo_side">
														</div><!-- /.demo -->
													</div><!-- /.clearfix -->
												</div><!-- /.description -->
											</div><!-- /.article-body rte -->
										</div><!-- /.article -->
									</div><!-- /.container -->
								</div><!-- /.clearfix -->
							</article>
						</div><!-- /.jsTreeContainer -->
	                	<!-- /.jstree Demo -->

	                </div><!-- /.col -->
	              </div><!-- /.row -->
	            </div><!-- ./box-body -->

	          </div>
	          <!-- /.box -->
	        </div>
	        <!-- /.col -->
	      </div>
	      <!-- /.row -->
    </section>
