<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- <script src="libs/angular/jquery-1.11.0.min.js"></script> -->
  
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <script type="text/javascript" src="../../bower_components/angular/angular.min.js"></script>
  <script src="twice.js"></script>
  <title>Twice Group</title>
</head>

<body class="well" ng-controller="todoCtrl" ng-app="myApp">

  <h1>{{ appName }}</h1>
  
  <p>전체 할일 <strong> {{todoList.length}} </strong> 개 / 남은 할 일은 <strong> {{remain()}} </strong>개</p>

  <br>
  <h4>남은 할일 리스트</h4>
  <form action="" name="newItemForm" class="form-inline">
    <div class="form-group">
      <label class="sr-only" for="newItemText">새로운 할일</label>
      <input type="text" class="form-control" name="newItemText" placeholder="새로운 할 일
      " ng-model="newTitle">
    </div>
    <button type="submit" class="btn btn-default" ng-click="addNewTodo(newTitle)">추가</button>

  </form>
  <ul class="list-unstyled" style="margin-left: 20px">
    <li ng-repeat="todo in todoList" class="checkbox">
      <input type="checkbox" ng-model="todo.done">{{ todo.title }}
    </li>
  </ul>
  <!-- <button type="submit" class="btn btn-default" ng-click="archive()">보관</button> -->


  <br><br>
  <!-- <h4>보관중인 리스트</h4> -->
  <!-- <ul class="list-unstyled" style="margin-left: 20px">
    {{ doneTodo()}}
    <li ng-repeat="done in doneList" class="checkbox">
      <input type="checkbox" ng-model="done.done">
      {{ doneArray.title }}
    </li>
  </ul>  -->
  

  <h2>member</h2>
    <ul>
      <li>김지윤</li>
      <li>권기범</li>
      <li>정기욱</li>
      <li>유정우</li>
    </ul> 

</body>



</html>