@charset "utf-8";

/* --- loading --- */
#loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99;
}
#status {
  width: 200px;
  height: 200px;
  margin: -100px 0 0 -100px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: url(../img/loading.gif) no-repeat center;
}

.skin-blue .main-header .logo{
  background-color: #222d32;
  border-bottom:1px solid #2c3b41
}
.skin-blue .main-header .logo:hover{
  background-color: #2c3b41;
}
.skin-blue .main-header .navbar{
  background-color: #fff;
  border-bottom:1px solid #e5e8ed
}
.skin-blue .main-header .navbar .sidebar-toggle:hover,
.multilingual:hover,
.multilingual:hover .form-control{
  color:#222d32;
  background:#e6e6e6
}
.skin-blue .main-header .navbar .sidebar-toggle,
.skin-blue .main-header .navbar .nav > li > a,
.multilingual{
  color:#787679;
}
.skin-blue .main-header .navbar .nav > li > a:hover,
.skin-blue .main-header .navbar .nav .open > a,
.skin-blue .main-header .navbar .nav .open > a:hover,
.skin-blue .main-header .navbar .nav .open > a:focus{
  color:#2c3b41;
}
.multilingual{
  padding:8px 15px;
  cursor:pointer;
}
.navbar .form-group{
  display:inline-block;
  margin-bottom: 0;
}
.navbar .form-control{
  display:inline-block;
  padding:0 0 0 5px;
  background-color:transparent;
  border:0 none;
}
