<i class="fa fa-camera bg-purple"></i>
<div class="timeline-item compare-view"
     oc-lazy-load="[{ name: 'contentsInfoControllerModule', files: ['partials/layout/contents/rivalWar/contentsInfoController.js'] ,cache: false }]">
  <div ng-controller="contentsInfoController">
    <div class="box box-purple">
      <div class="box-header with-border">
        <h3 class="box-title">비교현황 및 정보</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn bg-purple btn-xs"><span class="text-hidden">선택은 신중하게 해주세요. </span>변경이
            불가능합니다.
          </button>
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
        <!-- /.box-tools -->
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div>
          <div class="col-xs-4 col-xs-12">
            <!-- small box -->
            <div class="small-box main-item">
              <div class="inner">
                <div class="item-img">
                  <img src="partials/layout/contents/rivalWar/img/no_image.png" alt="">
                </div>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
            <ul class="link-list">
              <li>
                <a href="#link" class="news"><img src="./partials/common/img/community/news-icon01.png"> '무혈입성' 아이폰7…삼성
                  없는 한국 '추풍낙엽'</a>
              </li>
              <li>
                <a href="#link" class="news"><img src="./partials/common/img/community/news-icon02.png"> '아이폰7' 출시 첫날
                  불법보조금 기승…</a>
              </li>
              <li>
                <a href="#link" class="news"><img src="./partials/common/img/community/news-icon03.png"> 아이폰7, 애플워치2 구매
                  전에 꼭 알아야 할</a>
              </li>
              <li>
                <a href="#link" class="news"><img src="./partials/common/img/community/news-icon04.png"> 아이폰7에 무엇을
                  기대하나요? 한 달 사용기</a>
              </li>
              <li>
                <a href="#link" class="news"><img src="./partials/common/img/community/news-icon01.png"> 소프트뱅크의 아이폰 일본
                  시장 독점 공급 5.8 </a>
              </li>
            </ul>
          </div>
          <div class="col-xs-4 col-xs-12">
            <!-- small box -->
            <div class="small-box main-item right">
              <div class="inner">
                <div class="item-img">
                  <img src="partials/layout/contents/rivalWar/img/no_image.png" alt="">
                </div>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
            <ul class="link-list">
              <li>
                <a href="#link" class="news"><img src="./partials/common/img/community/news-icon01.png"> '무혈입성' 아이폰7…삼성
                  없는 한국 '추풍낙엽'</a>
              </li>
              <li>
                <a href="#link" class="news"><img src="./partials/common/img/community/news-icon02.png"> '아이폰7' 출시 첫날
                  불법보조금 기승…</a>
              </li>
              <li>
                <a href="#link" class="news"><img src="./partials/common/img/community/news-icon03.png"> 아이폰7, 애플워치2 구매
                  전에 꼭 알아야 할</a>
              </li>
              <li>
                <a href="#link" class="news"><img src="./partials/common/img/community/news-icon04.png"> 아이폰7에 무엇을
                  기대하나요? 한 달 사용기</a>
              </li>
              <li>
                <a href="#link" class="news"><img src="./partials/common/img/community/news-icon01.png"> 소프트뱅크의 아이폰 일본
                  시장 독점 공급 5.8 </a>
              </li>
            </ul>
          </div>
          <div class="col-xs-4 col-xs-12">
            <!-- small box -->
            <div class="small-box main-item right">
              <div class="inner">
                <div class="item-img">
                  <img src="partials/layout/contents/rivalWar/img/no_image.png" alt="">
                </div>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
            <ul class="link-list">
              <li>
                <a href="#link" class="news"><img src="./partials/common/img/community/news-icon01.png"> '무혈입성' 아이폰7…삼성
                  없는 한국 '추풍낙엽'</a>
              </li>
              <li>
                <a href="#link" class="news"><img src="./partials/common/img/community/news-icon02.png"> '아이폰7' 출시 첫날
                  불법보조금 기승…</a>
              </li>
              <li>
                <a href="#link" class="news"><img src="./partials/common/img/community/news-icon03.png"> 아이폰7, 애플워치2 구매
                  전에 꼭 알아야 할</a>
              </li>
              <li>
                <a href="#link" class="news"><img src="./partials/common/img/community/news-icon04.png"> 아이폰7에 무엇을
                  기대하나요? 한 달 사용기</a>
              </li>
              <li>
                <a href="#link" class="news"><img src="./partials/common/img/community/news-icon01.png"> 소프트뱅크의 아이폰 일본
                  시장 독점 공급 5.8 </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
</div>
