<div oc-lazy-load="[{ name: 'rivalWarContentsControllerModule', files: ['partials/layout/contents/rivalWar/contentsController.js'] ,cache: false }]">
  <section class="content" ng-controller="rivalWarContentsController">
    <div class="title_area rival">
      <div class="tit_box">
        <h2 class="tit_txt">
          순수 국내 Opensource
          <img src="partials/layout/contents/rivalWar/img/tit_vs.png" alt="타이틀 아이콘">
          당신의 선택은?</h2>
      </div>
    </div>
    <div class="row rival-content">
      <div class="box-tools share-box">
        <button type="button" class="btn btn-default"><i class="fa fa-mail-forward"></i>공유하기</button>
        <span class="social-icon-line">
        <a href="#" class="btn btn-social-icon btn-kakaotalk">
          <i class="fa fa-kakaotalk"><img src="partials/common/img/etc/icon-brand-kakaotalk.png" alt="카카오톡"/></i>
        </a>
        <a href="#" class="btn btn-social-icon btn-band">
          <i class="fa fa-band"><img src="partials/common/img/etc/icon-brand-band.png" alt="라인"/></i>
        </a>
        <a href="#" class="btn btn-social-icon btn-kakaostory">
          <i class="fa fa-kakaostory"><img src="partials/common/img/etc/icon-brand-kakao-story.png" alt="카카오스토리"/></i>
        </a>
        <a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
        <a class="btn btn-social-icon btn-google"><i class="fa fa-google-plus"></i></a>
        <a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
      </span>
      </div>
      <div class="col-md-12">
        <!-- The time line -->
        <ul class="timeline">
          <!-- timeline time label -->
          <li class="time-label">
            <span class="bg-red" style="background-color: #00acee!important">{{warTime}}</span>
          </li>
          <!-- /.timeline-label -->

          <li ng-include="'partials/layout/contents/rivalWar/contentsAnalysis.html'">
          </li>

          <li ng-include="'partials/layout/contents/rivalWar/contentsInfo.html'">
          </li>

          <li ng-include="'partials/layout/contents/rivalWar/contentsSpec.html'">
          </li>

          <li ng-include="'partials/layout/contents/rivalWar/contentsChat.html'">
          </li>
          <!-- END timeline item -->
          <li>
            <i class="fa fa-clock-o bg-gray"></i>
          </li>
        </ul>
      </div>
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
