<div class="modal fade rival-war-login" id="loginView">
  <div id="loginTest" class="modal-dialog login-box">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
      </div>
      <div class="modal-body login-box-body">
        <p class="login-box-msg">
          <img src="./partials/common/img/rivalWarLogo.png" alt="라이벌 워 로고">
        </p>
        <div class="user-area text-center">
          <h4>라이벌 워 에서 사용할 닉네임을 만들어 주세요.</h4>
          <div>
            <h5><img src="./partials/common/img/etc/user_info_ico.png" alt="사용자 정보 아이콘"></h5>
            <input type="text" name="" placeholder="닉네임을 입력해 주세요.">
            <p><a href="#">라이벌 워 시작하기</a></p>
          </div>
        </div>
        <p class="login-box-msg">
          가입시 개인정보보호약관 및 <a href="#">서비스 이용약관</a>에 동의하게 됩니다.
        </p>
        <!-- 로그인 닫기 -->
        <!--<button type="button" class="btn btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>-->
        <!--  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button> -->
      </div>
    </div>
  </div>
</div>