<div class="modal fade rival-war-login" id="loginView">
  <div id="signIn" class="modal-dialog login-box">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
        <h1><img src="./partials/common/img/logo-sign.png" alt="logo"></h1>
        <p>Login</p>
      </div>
      <div class="modal-body login-box-body">
        <p class="login-box-msg">소셜로그인을 선택하세요.</p>
        <div class="social-auth-links text-center">
          <a href="#" class="btn btn-block btn-social btn-kakaotalk btn-flat">
            <i class="fa fa-kakaotalk"><img src="../../../common/img/etc/icon-brand-kakao-story.png" alt="카카오톡"/></i> 카카오톡 로그인</a>
          <a href="#" class="btn btn-block btn-social btn-band btn-flat">
            <i class="fa fa-band"><img src="../../../common/img/etc/icon-brand-band.png" alt="라인"/></i> 밴드 로그인</a>
          <a href="#" class="btn btn-block btn-social btn-kakaostory btn-flat">
            <i class="fa fa-kakaostory"><img src="../../../common/img/etc/icon-brand-kakao-story.png" alt="카카오스토리"/></i> 카카오스토리 로그인</a>
          <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
            <i class="fa fa-facebook"></i> 페이스북 로그인</a>
          <a href="#" class="btn btn-block btn-social btn-google btn-flat">
            <i class="fa fa-google-plus"></i> 구글 로그인</a>
        </div>
        <!-- /.social-auth-links -->
        <!-- 로그인 닫기 -->
        <!--<button type="button" class="btn btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>-->
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
      </div>
    </div>
  </div>
</div>
