<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  
  <!--
  <link rel="stylesheet" href="../../app/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <script type="text/javascript" src="../../app/bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="../../app/bower_components/jquery/dist/jquery.min.js"></script>
  
  <script type="text/javascript" src="../../app/bower_components/bootstrap/js/tab.js"></script>
  <script type="text/javascript" src="../../app/bower_components/bootstrap/js/dropdown.js"></script>
  -->
  <!--  
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
   -->

  <link rel="stylesheet" href="../../lib/bootstrap/dist/css/bootstrap.min.css" />
  <script type="text/javascript" src="../../lib/angular/angular.min.js"></script>
  <script type="text/javascript" src="../../lib/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="../../lib/bootstrap/js/tab.js"></script>
  <script type="text/javascript" src="../../lib/bootstrap/js/dropdown.js"></script>

  <script src="twice.js"></script>
  

   <style type="text/css">
      .box{
        width:100px;
        height:100px;
      }
      .red {
        background-color:red;
      }
      .green {
        background-color:green;
      }
      .blue {
        background-color:blue;
      }
      .black {
        background-color:black;
      }

      #cssvalid .ng-invalid {
        border: 3px solid red;
      }
      #cssvalid .ng-valid{
        border: 3px solid green;
      }
      #cssvalid .ng-pristin{
        border-style: solid;
      }
      #cssvalid .ng-dirty{
        border-style: dashed;
      }
          
      /* 05.user-defined */
    . ng-scope {border: 1px solid red; padding: 5px;}
    .msg-list-area { margin : 10px; height: 400px; border : lpx solid black;}
    </style>
  
  <title>Twice Group</title>
</head>

<body class="well"  ng-app="myApp">


<div class="container">
  <h2>시작하세요 Angular JS sample</h2>
  <!-- 
  <p>Click on the Tabs to display the active and previous tab.</p>
   -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#todo">02.todo</a></li>
      <!--
     <li><a href="#menuList">MenuList</a></li>
     <li><a href="#repeat">ng-repeat</a></li>
     <li><a href="#ifswitch">if-switch</a></li>
     <li><a href="#showhide">showhide</a></li>
     <li><a href="#ngcontroller">ng-controller</a></li>
      -->
      <li role="presentation" class="dropdown">
      <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
           03.DataBinding
          <span class="caret"></span>
        </a>
        <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#menuList">menuList</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#repeat">repeat</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#ifswitch">ifswitch</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#showhide">showhide</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#ngcontroller">ng-controller</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#input">input</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#checkbox">checkbox</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#select">select</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#cssvalid">cssvalid</a></li>
        </ul>
      </li>

      <li role="presentation" class="dropdown">
        <a id="drop2" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
          05.Scope
          <span class="caret"></span>
        </a>
        <ul id="menu2" class="dropdown-menu" role="menu" aria-labelledby="drop2">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#scope">scope</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#user-defined">user-defined</a></li>
        </ul>
      </li>


      <li role="presentation" class="dropdown">
        <a id="drop3" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
          07.directive
          <span class="caret"></span>
        </a>
        <ul id="menu3" class="dropdown-menu" role="menu" aria-labelledby="drop3">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#getStyle">getStyle</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#directive01">directive01</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#directive02">directive02</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#directive03">directive03</a></li>              
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#directiveScope01">directiveScope01</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#directiveScope02">directiveScope02</a></li>

        </ul>
      </li>


      <li role="presentation" class="dropdown">
        <a id="drop4" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
          08.dependency relation
          <span class="caret"></span>
        </a>
        <ul id="menu4" class="dropdown-menu" role="menu" aria-labelledby="drop4">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#helloService">helloService</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#ValueDefine">ValueDefine</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#FactoryDefine">FactoryDefine</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#ServiceDefine">ServiceDefine</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#ProviderDefine">ProviderDefine</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#ServiceProvider">ServiceProvider</a></li>
              

              <!--
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#directive01">directive01</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#directive02">directive02</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#directive03">directive03</a></li>              
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#directiveScope01">directiveScope01</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#directiveScope02">directiveScope02</a></li>
              -->
        </ul>
      </li>

     <!--
     <li><a href="#getStyle">07.getStyle</a></li>
     <li><a href="#directive01">07.directive01</a></li>
     <li><a href="#directive02">07.directive02</a></li>
     <li><a href="#directive03">07.directive03</a></li>
     <li><a href="#directiveScope01">07.directiveScope01</a></li>
     <li><a href="#directiveScope02">07.directiveScope02</a></li>
      -->
  </ul>

  <div class="tab-content">
    <div id="todo" class="tab-pane fade in active " ng-controller="todoCtrl">
      <h3>TODO APP</h3>
      	
      	<h1>{{ appName }}</h1>
		  <p>전체 할일 <strong> {{todoList.length}} </strong> 개 / 남은 할 일은 <strong> {{remain()}} </strong>개</p>
		
		  <br>
		  <h4>남은 할일 리스트</h4>
		  <form action="" name="newItemForm" class="form-inline">
		    <div class="form-group">
		      <label class="sr-only" for="newItemText">새로운 할일</label>
		      <input type="text" class="form-control" name="newItemText" placeholder="새로운 할 일
		      " ng-model="newTitle">
		    </div>
		    <button type="submit" class="btn btn-default" ng-click="addNewTodo(newTitle)">추가</button>
		
		  </form>
		  <ul class="list-unstyled" style="margin-left: 20px">
		    <li ng-repeat="todo in todoList" class="checkbox">
		      <input type="checkbox" ng-model="todo.done">{{ todo.title }}
		    </li>
		  </ul>
      	
      	
    </div>
    <div id="menuList" class="tab-pane fade " ng-controller="mainCtrl">
      <h3>MenuList</h3>
      
      <div>
          <h1>메뉴판</h1>
          <h2>메뉴 목록</h2>
          <table>
           <thead>
            <tr><th>메뉴</th><th>가격</th><th>갯수</th></tr>
           </thead>
           <tbody>
            <tr ng-repeat="menu in menuList">
             <td>{{menu.itemName}}</td>
             <td>{{menu.itemPrice}}</td>
             <td><input type="text" ng-model="menu.itemCount"></td>
            </tr>
           </tbody>
          </table>        
          <button ng-click="buy()">구매</button>
          <h2>구입 가격</h2>
          <div>
           가격 : {{totalPrice}}
          </div>
     </div>
      
    </div>
    <div id="repeat" class="tab-pane fade">
      <h3>ng-repeat</h3>
      
      
      <div ng-init="customerList = [{name:'영희', age:25} , {name:'순희', age:28},{name:'희애', age:282}]">
        고객목록
        <ul>
            <li ng-repeat="customer in customerList">
                 고객이름 : {{customer.name}} , 고객나이 : {{customer.age}}
            </li>
        </ul>
      </div>

      <div ng-init="myFriend={name:'철수', age:25, hobby : '축구'}">
          내 친구 소개
          <ul>
              <li ng-repeat="(x,y) in myFriend">
               <p> {{x}} : {{y}}</p> 
              </li>
          </ul>
      </div>


    </div>
    <div id="ifswitch" class="tab-pane fade">
      <h3>switch</h3>
      
          <div>
            <input type="radio" ng-model="color" value="red">  빨간색 <br/>
            <input type="radio" ng-model="color" value="green"> 녹색 <br/>
            <input type="radio" ng-model="color" value="blue"> 파란색 <br/>

              <div ng-switch="color">
                  <div ng-switch-when="red" class="box red"></div>
                  <div ng-switch-when="green" class="box green"></div>
                  <div ng-switch-when="blue" class="box blue"></div>
                  <div ng-switch-default class="box black"></div>
              </div>
          </div>
        
         <br/>
         <h3>if</h3>
          <div>
             약관에 동의: <input type="checkbox" ng-model="checked" ng-init="checked=false" />
            <br/>
            동의하면 다음으로 진행됩니다.
            <button ng-if="checked">다음</button>
          </div>
    </div>
     
     <div id="showhide" class="tab-pane fade">
        <h3>showhide</h3>
         동의 여부 : <input type="checkbox" ng-model="checked">
        <br/>
         
         <div>
            <span ng-show="checked">
              다음으로 진행합니다. <button>계속</button>
            </span>
          </div>
        <div>
          <span ng-hide="checked">
            다음으로 진행할 수 없습니다.
          </span>
        </div>

     </div>

     <div id="ngcontroller" class="tab-pane fade" ng-controller="customerCtrl"> 
        <h3>ng-controller</h3>
        
           <div>
           고객 목록
           <ul>
            <li ng-repeat="customer in customerList">
             [{{$index + 1}}] 고객 이름 : {{customer.name}}, 고객 나이 : {{customer.age}}
            </li>
           </ul>
          </div>

          <div>
           18세 미만 고객
           <ul>
            <li ng-repeat="youngCuster in youngCusterList">
             [{{$index + 1}}] 고객 이름 : {{youngCuster.name}}, 고객 나이 : {{youngCuster.age}}
            </li>
           </ul>
          </div>


     </div>

     
     <div id="input" class="tab-pane fade">
        <h3>input</h3>
    
    
        <form name="sampleForm" ng-init="name = '철수'">
            이름 : <input type="text" name="name" ng-model="name"
                          ng-maxlength="3" ng-required="true">
            <span class="error" ng-show="sampleForm.name.$error.required">필수입력</span>
            <br/>
            핸드폰 번호: <input type="text" name="tel" ng-model="tel" ng-pattern="/^\d{3}-\d{3,4}-\d{4}$/" >
          
            <span class="error" ng-show="sampleForm.tel.$error.pattern">000-0000-0000</span>
            <br/>
            <p>사용자 정보 : {{name}}/{{tel}}</p>
            <p>sampleForm.name.$valid = {{sampleForm.name.$valid}}</p>
            <p>sampleForm.name.$error = {{sampleForm.name.$error}}</p>
            <p>sampleForm.tel.$valid = {{sampleForm.tel.$valid}}</p>
            <p>sampleForm.tel.$error = {{sampleForm.tel.$error}}</p>
            <p>sampleForm.$valid = {{sampleForm.$valid}}</p>
            <p>sampleForm.$error.required = {{!!sampleForm.$error.required}}</p>
        </form>
       
     </div>


      <div id="checkbox" class="tab-pane fade">
        <h3>checkbox</h3>
        
        <form name="sampleForm" ng-init="value1 = true; value2 = '좋다';">
			선택 1: <input type="checkbox" name="check1" ng-model="value1">
			<br/>
			선택 2: <input type="checkbox" name="check2" ng-model="value2" ng-true-value="'좋다'" ng-false-value="'싫다'">
			<br/>
			<p>선택1의 바인딩된 값 : {{value1}}</p>
			<p>선택2의 바인딩된 값 : {{value2}}</p>         
        </form>
        
        
     </div>


     <div id="select" class="tab-pane fade">
        <h3>select</h3>
        
        <div ng-init="countryList = [{name:'한국', code:'KR', continent:'아시아'},
        	{name:'일본', code:'jr', continent:'아시아'}, {name:'미국', code:'en', continent:'북미'}]">
        	<form name="myRouteForm">
        		<div>
        			출발국바:
        			<select ng-model="depCountry" ng-options="country.name for country in countryList" ng-required="true">
        				<option value="">선택하여 주세요</option>
        			</select>
        		</div>
        		<div>
        			경유국가:
        			<select ng-model="viaCountry" ng-options="country.name as country.name for country in countryList">
        				<option value="">선택하여 주세요</option>
        			</select>
        		</div>
        		<div>
        			도착국가(대륙 그룹별):
        			<select ng-model="arrCountry" ng-options="country.name group by country.continent for country in countryList" ng-required="true">
        				<option value="">선택하여 주세요</option>
        			</select>
        		</div>
        	</form>
        	<div>
        		<p>출발 국가: {{depCountry.name}}</p>
        		<p>경유 국가: {{viaCountry}}</p>
        		<p>도착 국가: {{arrCountry.name}}</p>
        	</div>
        	<div ng-show="myRouteForm.$invalid">
        		출발 국가와 도착 국가는 필히 선택해주세요.
        	</div>
      </div>

  </div>
  <div id="cssvalid" class="tab-pane fade">
  	<h3>cssvalid</h3>
	
	<form name="sampleForm" ng-init="name = '철수'">
		이름 : <input type="text" name="name" ng-model="name" ng-maxlength="3" ng-required="true">
		핸드폰 번호: <input type="text" name="tel" ng-model="tel" ng-pattern="/^d{3}-\d{3,4}-\d{4}$/">
	</form>
          
  </div> 
   


  <div id="scope" class="tab-pane fade">
    <h3>scope</h3>
        <div ng-controller="parentCtrl">
          <h1>부모이름:{{parent.name}}</h1>
          <div ng-controller="childCtrl" style="padding-left: 20px;">
            <h2>부모이름:{{parent.name}}</h2>
            <h2>자식이름:{{child.name}}</h2>
            <button ng-click="changeParentName()">부모이름변경</button>
          </div>
        </div>
  </div>
  
  <div id="user-defined" class="tab-pane fade">
    <h3>user-defined</h3>
    
    <div ng-controller="userController">
      <input type="text" ng-model="noticeMsg" />
      <input type="button" value="공지 전송" ng-click="broadcast(noticeMsg)" />
      <div class="msg-list-area" ng-controller="chatMsgListCtrl">
        <ul>
          <li ng-repeat="msg in msgList track by $index">{{msg}}///</li>
        </ul>
      </div>
      <div ng-controller="chatMsgInputCtrl">
        <input type="text" ng-model="newMsg" />
        <input type="button" value="전송" ng-click="submit(newMsg)" />
      </div>
    </div>
  </div>


    <div id="getStyle" class="tab-pane fade">
    <h3>07.getStyle</h3>
    
    <div ng-controller="getStyleCtrl">
      <p ng:style="getStyle()">hello</p>
      <p class="ng_style: getStyle();">hello</p>
      
      <ng-form name="groupForm">
        <form name="formA"><input type="text" /></form>
        <form name="formB"><input type="text" /></form>
      </ng-form>
    </div>
      <hr>
  </div>
  
 

  <div id="directive01" class="tab-pane fade">
    <h3>07.directive01</h3>

    <div directive01 name="angularJS"></div>
  </div>
  

  <div id="directive02" class="tab-pane fade">
    <h3>07.directive02</h3>

    <div directive02 name="angularJS"></div>
  </div>
 
  <div id="directive03" class="tab-pane fade">
    <h3>07.directive03</h3>

    <div directive03 name="angularJS"></div>
  </div>
  
  <div id="directiveScope01" class="tab-pane fade">
    <h3>07.directiveScope01</h3>

    <div ng-controller="directiveScopeCtrl01">
      <div hello1 name="google"></div>
      <div hello1 name="naver"></div>
      <div hello1 ></div>
    </div>
    
  </div>
  
  
  <div id="directiveScope02" class="tab-pane fade">
    <h3>07.directiveScope02</h3>

    <div ng-controller="directiveScopeCtrl02">
      <div hello2 name="google"></div>
      <div hello2 name="naver"></div>
      <div hello2 ></div>
    </div>
    
  </div>
   


   <div id="helloService" class="tab-pane fade">
    <h3>08.helloService</h3>

    <div ng-controller="helloCtrl">
      <p>{{hello}}</p>
    </div>
    
  </div>

  <div id="ValueDefine" class="tab-pane fade">
    <h3>08. Value로 정의하는 방법 </h3>
    
    <div ng-controller="serviceCtrl01">
      <p>{{appNm}}</p>
    </div>
    
  </div>
  
   
   <div id="FactoryDefine" class="tab-pane fade">
    <h3>08. Factory로 정의하는 방법 </h3>

     <div ng-controller="serviceCtrl02">
        <p>어플리케이션 이름 : {{appNm}}</p>
        <div>
          이름 : <input type="text" ng-model="newUser.name">, 이메일 : <input type="text" ng-model="newUser.email">
          <button ng-click="addNewUser(newUser)">Add New User</button>
        </div>
        <ul><li ng-repeat="user in users">{{user.name}}, {{user.email}}</li></ul>
     </div>
   </div>

    <div id="ServiceDefine" class="tab-pane fade">
       <h3>08. Service로 정의하는 방법 </h3>
       <div ng-controller="serviceCtrl03">
          <p>10 + 3 = {{val1}}</p>
          <p>20 - 10 = {{val2}}</p>
       </div>
    </div>

    
    <div id="ProviderDefine" class="tab-pane fade">
       <h3>08.ProviderDefine 정의하는 방법 </h3>
       <div ng-controller="serviceCtrl04">
         
       </div>
    </div>


     <div id="ServiceProvider" class="tab-pane fade">
       <h3>08.ServiceProvider 정의하는 방법 </h3>
       <div ng-controller="serviceProviderCtrl">         
       </div>
    </div>

    


  <hr>
   
    <!--
    <p class="act"><b>Active Tab</b>: <span></span></p>
    <p class="prev"><b>Previous Tab</b>: <span></span></p>
    -->     
</div>





  
 



</body>



</html>