body{
    font-size: 20px;
}

h1{
    font-size: 50px;
    color: pink;
}

.site-header {
    position: relative;
    z-index: 3;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: -1px;
    background-color: #ffd1cf;
    background-clip: padding-box;
    border-bottom: 1px solid rgba(0,0,0,0.075);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-size: 30px;
    color: white;
    text-align: center;
}
.box{
    margin-left: 20%;
    margin-right: 30%;
    min-width: 350px;
}
.someContainer{
    display: -moz-box;
    height: 36px;
    position: relative;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.someContainer.ng-invalid{
    background-color : pink;
}

.error{
    color: darkgray;
}

.view-animate-container {
    position:relative;
    background:white;
    overflow:hidden;
}

.view-animate {
    padding:10px;
}

.view-animate.ng-enter, .view-animate.ng-leave {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;

    display:block;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding:10px;
}
.view-animate.ng-enter {
    left:100%;
}
.view-animate.ng-enter.ng-enter-active {
    left:0;
}
.view-animate.ng-leave.ng-leave-active {
    left:-100%;
}
.navbar {
    position: absolute;
    left: 50px;
    max-width : 150px;
}
section{
    margin-left:200px;
    text-align: center;
}