.box{
  width:100px;
  height:100px;
}
.red{
  background-color:red;
}
.green{
  background-color:green;
}
.blue{
  background-color:blue;
}
.black{
  background-color:black;
}
.ex2_17box{
  width: 100px;
  height: 60px;
  background-color: pink;
  margin: 10px;
  color: white;
  text-align: center;
  padding-top: 40px;

}
.ng-invalid{
  border : 3px solid red;
}
.ng-valid{
  border: 3px solid green;
}
.ng-pristin{
  gorder-style: solid;
}
.ng-dirty{
  gorder-style: dashed;
}

.apple{background-color : red;}
.lemon{background-color : yellow;}
.even{background-color : blue;}
