@charset "UTF-8";

html,body{
  height:100%;
  font-size:16px;
  overflow:hidden
}
ul,ol{
  list-style: none;
}
a,
a:hover{
  display:block;
  text-decoration:none;
}


header{
  width:200px; height:calc(100% - 40px);
  position:fixed;
  border:1px #c9c9c9 solid;
  overflow:hidden;
}
aside h3{
  padding:20px;
  text-align:center;
}
.snb{
  padding:0;
}
.snb li{
  padding:5px 15px;
  border-top:1px #c9c9c9 solid;
  transition: 1s;
  -webkit-transition: 1s;
}
.snb li:hover{
  padding-left:20px;
}
.snb li.on{
  background-color:#faf2c9;
}
.snb .home{
  height:100px;
  line-height:3;
  font-size:1.8rem;
  color:#000;
  text-align:center;
  border-top:0 none;
}
.snb .home:hover{
  padding-left:15px;
  font-size:2rem;
}
.end-list{
  border-bottom:1px #c9c9c9 solid;
}

.snb-sub{
  display:none;
  margin-top:5px;
  padding:0;
}
.snb-sub li.on{
  font-weight:bold;
  background-color:#f9f9e9;
}
article{
  height:100%;
  margin-left:200px;
  border:1px #c9c9c9 solid;
  border-left:0 none;
  overflow:hidden;
}
section{
  height:100%;
  padding:30px;
  position:relative;
}
section:first-child{
  border-top:0 none;
}

.title{
  line-height:200px;
  font-size:3rem;
  text-align:center;
}
.g-name{
  position:absolute;
  right:11.5rem;
  bottom:5rem;
  font-size:2rem;
}

.content{
  height:100%;
  border:1px red solid;
  overflow:hidden;
}
.chapter{
  padding-left:10px;
  font-size:2rem;
}
.view-con{
  margin-top:15px;
  padding:10px;
  border-top:1px #c9c9c9 solid;
}
