<!DOCTYPE html>
<html lang="ko" ng-app="beeersApp">
<head>
    <meta charset="utf-8">
    <title>Beeer's App Demo</title>
    <link rel="stylesheet" href="../../lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="beeersAngularCss.css" />
    <script type="text/javascript" src="../../lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../lib/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="beeersAngularJs.js"></script>
</head>

<body>
<header class="site-header"> LOVE BeeEr </header>
<br>
<div >
    <div ng-controller="MainCtrl" class="navbar" align="left">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a href="welcome.html">홈</a></li>
                <li><a href="six_module.html">1. 모듈이란</a></li>
                <li><a href="six_module_2.html">2. 컨트롤러</a></li>
                <li><a href="six_module_3.html">3. 파일구조</a></li>
                <li><a href="bookmark.html"> 북마크</a></li>
                <li><a href="cookies.html"> 쿠키데모</a></li>
                <li><a href="login.html">로그인</a></li>
                <li ><a href="userList.html">사용자 관리</a></li>
                <li><a href="todoApp.html">TODO APP</a></li>
                <li><a href="mathApp.html">MATH APP</a></li>
                <li><a href="signUp.html">가입하기</a></li>
            </ul>
        </div>
    </div>
    <section class="beeer_content">
        <hr>
        <h2>3. 모듈과 각 컴포넌트의 물리적 파일 구조 </h2>
        <hr>
        재사용되는 코드의 단위를 좀 더 세세하게 쪼개서 여러 모듈로 만들고 싶을 때는 어떻게 하면 좋을까?<br><br>
        <ul>
            <li class="that">angular.module("ngBookmark", ["moduleA", "moduleB"]</li>
        </ul>
        <hr>
        <iframe width="100%" height="400" src="//jsfiddle.net/soorichung/hbyhzqgc/embedded/js,html,result/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
        <hr>
        <ul>
            <li class="that">오픈소스 모듈 개발사이트 : <a href="http://ngmodules.org" target="_blank">http://ngmodules.org</a></li>
        </ul>

        <hr>
    </section>

</div>

</body>

</html>