<!DOCTYPE html>
<html lang="ko" ng-app="beeersApp">
<head>
    <meta charset="utf-8">
    <title>Beeer's App Demo</title>
    <link rel="stylesheet" href="../../lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="beeersAngularCss.css" />
    <script type="text/javascript" src="../../lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../lib/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="beeersAngularJs.js"></script>
</head>

<body>
<header class="site-header"> LOVE BeeEr </header>
<br>
<div >
    <div ng-controller="MainCtrl" class="navbar" align="left">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a href="welcome.html">홈</a></li>
                <li><a href="six_module.html">1. 모듈이란</a></li>
                <li><a href="six_module_2.html">2. 컨트롤러</a></li>
                <li><a href="six_module_3.html">3. 파일구조</a></li>
                <li><a href="bookmark.html"> 북마크</a></li>
                <li><a href="cookies.html"> 쿠키데모</a></li>
                <li><a href="login.html">로그인</a></li>
                <li ><a href="userList.html">사용자 관리</a></li>
                <li><a href="todoApp.html">TODO APP</a></li>
                <li><a href="mathApp.html">MATH APP</a></li>
                <li><a href="signUp.html">가입하기</a></li>
            </ul>
        </div>
    </div>
    <section class="beeer_content">
        <hr>
        <h2>1. 모듈이란?</h2>
        <hr>
        <ul>
            <li class="that">모듈 : 컨트롤러, 서비스, 필터, 지시자를 담는 그릇</li>
        </ul>
            <div>
        하나의 angualrJs app은 하나의 모듈을 지정할 수 있다.<br>
        run 함수(Java의 메인 mathod와 같은 역할)를 이용해 앱 시작을 위한 로직을 작성<br>
                해당 앱을 사용하는 컨트롤러, 서비스, 필터, 지시자 등록 가능<br>
        관련된 기능을 하나로 묶어 다른 코드와 결합도를 줄이고 재 사용성을 높이기 위해 사용한다.
        </div>
            <hr>
            <div>
        <ul><li class="that">angular.module("모듈이름", ["사용할 모듈"])</li></ul>
        </div>
            <div>
        angular.module 함수를 이용해 모듈을 만들면 모듈 인스턴스가 반환
            </div>
            <hr>
        #모듈 인스턴스 메서드
        <table class="table table-striped table-bordered table-hover">
            <theader>
                <th>모듈 메서드</th>
                <th>설명</th>

            </theader>
            <tbody>
            <tr>
            <td>        module.config(configFunction) </td>
            <td>모듈이 로딩될 때 호출되며 config 함수에 해당 익명 함수로 서비스를 설정할 수 있다.</td>
            </tr>
            <tr>
                <td>        moduel.constant(name, object)
                </td>
                <td>        상수 등록
                </td>
            </tr>
            <tr>
                <td>        module.controller(name, constructor)
                </td>
                <td>        컨트롤러 등록
                </td>
            </tr>
            <tr>
                <td>        module.direcetive(name, directiveFactory)
                </td>
                <td>        지시자 등록
                </td>
            </tr>
            <tr>
                <td>        module.factory(name, providerFuction)
                </td>
                <td>        서비스를 팩토리 형태로 등록
                </td>
            </tr>
            <tr>
                <td>        module.filter(name, filterFactory)
                </td>
                <td>        필터 등록
                </td>
            </tr>
            <tr>
                <td>        module.provider(name, providerType)
                </td>
                <td>        서비스를 제공하는 프로바이더를 등록
                </td>
            </tr>
            <tr>
                <td>        module.run(initializationFn)
                </td>
                <td>        앱 초기화 함수 등록. 모든 모듈 등록이 완료된 후 초기화 함수 실행
                </td>
            </tr>

            <tr>
                <td>        module.service(name, constructor)
                </td>
                <td>        서비스 등록
                </td>
            </tr>
            <tr>
                <td>        module.value(name, object)
                </td>
                <td>        객체 등록
                </td>
            </tr>


            </tbody>

        </table>

    </section>

</div>

</body>

</html>