<!DOCTYPE html>
<html lang="ko" ng-app="beeersApp">
<head>
    <meta charset="utf-8">
    <title>Beeer's App Demo</title>
    <link rel="stylesheet" href="../../lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="beeersAngularCss.css" />
    <script type="text/javascript" src="../../lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../lib/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="beeersAngularJs.js"></script>
</head>

<body>
<header class="site-header"> LOVE BeeEr </header>
<br>
<div >
    <div ng-controller="MainCtrl" class="navbar" align="left">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a href="welcome.html">홈</a></li>
                <li><a href="six_module.html">1. 모듈이란</a></li>
                <li><a href="six_module_2.html">2. 컨트롤러</a></li>
                <li><a href="six_module_3.html">3. 파일구조</a></li>
                <li><a href="bookmark.html"> 북마크</a></li>
                <li><a href="cookies.html"> 쿠키데모</a></li>
                <li><a href="login.html">로그인</a></li>
                <li ><a href="userList.html">사용자 관리</a></li>
                <li><a href="todoApp.html">TODO APP</a></li>
                <li><a href="mathApp.html">MATH APP</a></li>
                <li><a href="signUp.html">가입하기</a></li>
            </ul>
        </div>
    </div>
    <section class="beeer_content">

        <hr>
        <h2>3. 모듈과 각 컴포넌트의 물리적 파일 구조 </h2>
        <hr>
        <h4>디렉토리 구조</h4>
      <pre>
         html/
              main.html
              sub.html
              popup.html
         css/
              common.css
              main.css
              sub.css
              popup.css
         images/
              ...
          /js
              jquery.js
              common.js
         index.html
        </pre>
        <p>
          프로젝트 초기 단계에서 신경써야 할 부분중에 하나가 디렉토리 구조임에도 많은 사람들은 권장 사항을 무시하는 경향이 있습니다.
          초기에는 크게 문제가 되지 않는 부분이지만 프로젝트의 규모가 클 수록 장기적으로 코드 유지 보수에 많은 영향을 미치게 됩니다.
        </p>
        <p>
          AngularJS 는 다수의 컴포넌트를 사용할 수 있으므로 디렉토리 계층 구조를 만드는 것이 좋으며 주로 두 가지의 접근법이 사용 됩니다.
        </p>
        <pre>
         ㆍ 모듈의 레이어별 분류
         app/
              controllers/
                    mainController.js
                    otherController.js
              directives/
                    mainDirective.js
                    otherDirective.js
              filters/
                    mainFilters.js
                    otherFilter.js
              services/
                    mainService.js
                    userService.js
              lib/
                    bootstrap.js
                    jquery.js
                    app.js
              views/
                  mainView.html
                  otherView.html
                  index.html
        </pre>
        <p>
          이 구조는 많은 MVC 프레임에서 볼 수 있는 디렉토리 구조입니다.
          모듈을 레이어별로 분류하여 작업자가 매우 쉽게 작업의 내용에 접근 할 수 있습니다.
          하지만, 작은 규모의 작업에서는 크게 문제 될 것이 없지만 규모가 큰 프로젝트나 완성된 앱에 기능을 추가하기 시작할 때
          이 방법의 효율은 상당히 떨어지게 됩니다.
          controller, view, directives 등의 갯수가 늘어날 수록 필요한 파일을 찾기 위해 스크롤을 많이 해야 할 수 있습니다.
        </p>
        <p>
          프로젝트는 규모가 클수록 유지보수와 기능확장 적인 측면에서 취약합니다.
          AngualrJS 는 모듈의 기능별 분류를 통해 이러한 취약점을 보완 할 수 있습니다.
        </p>
        <pre>
         ㆍ 모듈의 기능별 분류
         app/
              common/
                    controllers/
                          commonController.js
                    directives/
                          commonDirentive.js
                    filters/
                          commonFilter.js
                    services/
                          commonServices.js
              main/
                    controllers/
                          mainServices.js
                    directives/
                          mainDirective.js
                    filters/
                          mainFilters.js
                    services/
                          mainService.js
              other/
                    controllers/
                          otherController.js
                    directives/
                          otherDirective.js
                    filters/
                          otherFilter.js
                    services/
                          otherService.js
              lib/
                    bootstrap.js
                    jquery.js
              views/
                  mainView.html
                  otherView.html
              index.html
              app.js
        </pre>
        <p>
          디렉티브 디렉토리를 만들 땐 디렉티브에 관련된 파일들(템플릿, CSS/SASS 파일, 자바스크립트 파일)을 한 폴더에 모읍니다.
          이런 방식으로 디렉토리를 구성한다면 프로젝트 어디서나 이 구조를 일관적으로 사용할 수 있습니다.
        </p>
        <pre>
         ㆍ 한 폴더에 모으기
         app/
              directives/
                    directive1/
                          directive1.html
                          directive1.css
                          directive1.js
                    directive2/
                          directive1.html
                          directive1.css
                          directive1.js
        </pre>
        <p>
          이러한 디렉티브 디렉토리 구성은 위의서 말한 두 가지 디렉토리 방법에서 모두 사용할 수 있습니다.
          AngularJS 는 angular-seed.git 을 통해 아래의 구조를 가진 디렉토리 레이아웃을 권장하고 있습니다.
        </p>
        <pre>
         ㆍ AngularJS 가 권장하는 디렉토리 구조
          app/                    --> all of the source files for the application
            app.css               --> default stylesheet
            components/           --> all app specific modules
              version/              --> version related components
                version.js                 --> version module declaration and basic "version" value service
                version_test.js            --> "version" value service tests
                version-directive.js       --> custom directive that returns the current app version
                version-directive_test.js  --> version directive tests
                interpolate-filter.js      --> custom interpolation filter
                interpolate-filter_test.js --> interpolate filter tests
            view1/                --> the view1 view template and logic
              view1.html            --> the partial template
              view1.js              --> the controller logic
              view1_test.js         --> tests of the controller
            view2/                --> the view2 view template and logic
              view2.html            --> the partial template
              view2.js              --> the controller logic
              view2_test.js         --> tests of the controller
            app.js                --> main application module
            index.html            --> app layout file (the main html template file of the app)
            index-async.html      --> just like index.html, but loads js files asynchronously
          karma.conf.js         --> config file for running unit tests with Karma
          e2e-tests/            --> end-to-end tests
            protractor-conf.js    --> Protractor config file
            scenarios.js          --> end-to-end scenarios to be run by Protractor
        </pre>
        <p>
          파일과 디렉토리 분류에는 정답이 없습니다. 하지만, angular-seed 에서 권장하는 디렉토리 구조나 웹 상에서 검색을 해보면
          다양한 구조로 파일과 디렉토리를 나누는 방법을 소개하고 하고 있습니다.
          소규모 프로젝트에선 어느 방법이든 사용하는데 무리가 없으나, 대규모 프로젝트에선 많은 고민이 필요합니다.
          <a href="http://programmingsummaries.tistory.com/229">http://programmingsummaries.tistory.com/229</a> 이 블로그에서는
          AngularJS 와 RequireJS 를 활용한 대규모 웹 어플리케이션 개발에 가장 적합 파일과 디렉토리 구조를 소개하고 있습니다.
        </p>
        <pre>
         app/
              css/
              img/
              js/
                  controllers/
                  directives/
                  filters/
                  registers/
                  services/
                  main.js
                  app.js
                  route-config.js
                  routes.js
              lib/
                  angular/
                  jquery/
                  require/
              partials/
                  view1.html
                  view2.html
              index.html
        </pre>
        <p>
          이 구조는 지금 우리가 스터디하는 project-web 과 닮은 부분이 있습니다.
        </p>
        <p>
          모듈화 된 접근 방식의 장점
        </p>
        <ul>
          <li>코드의 유지 보수성</li>
          <li>확장성</li>
          <li>디버깅이 쉬워짐</li>
          <li>테스트가 쉽다.</li>
        </ul>
        <hr>
        재사용되는 코드의 단위를 좀 더 세세하게 쪼개서 여러 모듈로 만들고 싶을 때는 어떻게 하면 좋을까?<br><br>
        <ul>
            <li class="that">angular.module("ngBookmark", ["moduleA", "moduleB"]</li>
        </ul>
        <hr>
        <iframe width="100%" height="400" src="//jsfiddle.net/soorichung/hbyhzqgc/embedded/js,html,result/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
        <hr>
        <ul>
            <li class="that">오픈소스 모듈 개발사이트 : <a href="http://ngmodules.org" target="_blank">http://ngmodules.org</a></li>
        </ul>

        <hr>
    </section>

</div>

</body>

</html>
