<!DOCTYPE html>
<html lang="ko" ng-app="beeersApp">
<head>
    <meta charset="utf-8">
    <title>Beeer's App Demo</title>
    <link rel="stylesheet" href="../../lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="beeersAngularCss.css" />

    <script type="text/javascript" src="../../lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../lib/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="beeersAngularJs.js"></script>
</head>

<body>
<header class="site-header"> LOVE BeeEr </header>
<br>
<div ng-controller="todoCtrl">
    <div class="navbar" align="left">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a href="welcome.html">홈</a></li>
                <li><a href="six_module.html">1. 모듈이란</a></li>
                <li><a href="six_module_2.html">2. 컨트롤러</a></li>
                <li><a href="six_module_3.html">3. 다른모듈</a></li>
                <li><a href="six_module_4.html">4. 파일구조</a></li>
                <ul class="navbar-in">
                    <li ><a href="six_module_5.html">레이어별</a></li>
                    <li ><a href="six_module_6.html">기능별</a></li>

                </ul>

                <li><a href="todoApp.html">TODO APP</a></li>
                <li><a href="mathApp.html">MATH APP</a></li>
                <li><a href="login.html">로그인</a></li>
                <li><a href="signUp.html">가입하기</a></li>
            </ul>
        </div>
    </div>
    <section>
        <div class="box">
            <h1>{{appName}}</h1>
            <hr>
            <p> 전체 <strong>{{todoList.length}}</strong>개 중 <strong>{{remain()}}</strong>개 남음
            </p>
            <hr>

            <div ng-show="showAllCheck()">
                <a href="" ng-click="deleteTodo()" ng-show="hasDone()"> 선택 보관하기 </a>
                <input id="toggle-all" type="checkbox" ng-model="markAll" ng-click="toggleAll()">

                <label for="toggle-all">전체선택</label>
            </div>

            <hr>
            <table class="table table-striped table-bordered table-hover">
                <tr>
                <td>
            <ul style="padding-left:25px;">
                <li class="checkbox" ng-repeat="item in todoList" >
                    <input type="checkbox" ng-model="item.done">{{item.title}}</li>
            </ul>
                </td>
                </tr>
            </table>
            <div class="someContainer">
                <input class="form-controll" type="text" name="name" ng-model="newTitle"
                       placeholder="새로운일 추가" ng-keyup="keyAddTodo()"/>
                <button type="button" name="button" ng-click="buttonAddTodo()">추가</button>
            </div>
        </div>
    </section>

</div>

</body>

</html>