<!-- Logo -->
<a href="#" class="logo" ng-click="broadcastGoToHome()">
  <!-- mini logo for sidebar mini 50x50 pixels -->
  <span class="logo-mini">
		<img src="partials/common/img/iconLogo.png" alt="로고">
	</span>
  <!-- logo for regular state and mobile devices -->
  <span class="logo-lg">
		<img src="partials/common/img/rivalWarLogo.png" alt="로고">
	</span>
</a>

<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top clearfix"  ng-controller="headerController">
  <!-- Sidebar toggle button-->
  <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button" ng-click="asideToggle()">
    <span class="sr-only">Toggle navigation</span>
  </a>
  <!-- 진행 중인 비교 리스트 -->
  <div class="rivalList-outerWrap">
    <div class="rivalList-innerWrap">
      <h2 class="rivalList-title">
        비교 진행중인 라이벌 콘텐츠
      </h2>
      <ul class="rivalList-content" ng-controller="raivalListController">
        <li ng-repeat="rivalList in warList">
          <a href="#">[<span class="highLight">{{rivalList.category}}</span>] 비교 종료까지 <span class="highLight type2">{{rivalList.dDay}}</span> 남았습니다.</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Navbar Right Menu -->
  <div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
      <li>
        <a href="#">
          <i class="fa fa-lock"></i>
          로그인
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-bell-o"></i>
          <span class="label label-success">10</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-flag-o"></i>
          <span class="label label-success">9</span>
        </a>
      </li>
      <li class="multilingual">
        <i class="fa fa-globe"></i>
        <div class="form-group">
          <label class="hide">Minimal</label>
          <select class="form-control select2" style="width: 100%;">
            <option selected="selected">한국어</option>
            <option>중국어</option>
          </select>
        </div>
      </li>
      <li>
        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
      </li>
    </ul>
  </div>
</nav>
