<div class="modal fade rival-war-login" id="loginView">
  <div id="signIn" class="modal-dialog login-box">
    <div class="modal-content">
      <div id="modal">
        <header>
          <span><img src="partials/layout/contents/rivalWar/img/rivalWarLogo.png" alt="라이벌 워 로고"></span>
          <button type="button" title="닫기" class="bnr_close">
          <span class="hiding">닫기</span>
          </button>
        </header>
        <div class="modal_section">
          <div class="top">
            <p><span class="id_bu">곧미남</span> 님 로그인 되셨습니다.</p>
          </div>
          <div><img src="partials/layout/contents/rivalWar/img/welcome_words2.png" alt="라이벌 워 방문을 환영합니다!"></div>
          <div class="bottom">
            <p><input type="text" name="" placeholder="닉네임을 입력해주세요."></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>