<!DOCTYPE html>
<html lang="ko" ng-app="beeersApp">
<head>
    <meta charset="utf-8">
    <title>Beeer's App Demo</title>
    <link rel="stylesheet" href="../../../lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/beeersAngularCss.css" />
    <script type="text/javascript" src="../../../lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../../lib/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="../../../lib/angular-animate/angular-animate.min.js"></script>

    <script type="text/javascript" src="../js/beeersAngularJs.js"></script>
</head>

<body>
<header class="site-header"> LOVE BeeEr </header>
<br>
<div >
    <div ng-controller="MainCtrl" class="navbar" align="left">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a href="welcome.html">홈</a></li>
                <li><a href="six_module.html">1. 모듈이란</a></li>
                <li><a href="six_module_2.html">2. 컨트롤러</a></li>
                <li><a href="six_module_3.html">3. 다른모듈</a></li>
                <li><a href="six_module_4.html">4. 파일구조</a></li>
                <ul class="navbar-in">
                    <li ><a href="six_module_5.html">레이어별</a></li>
                    <li ><a href="six_module_6.html">기능별</a></li>
                    <li ><a href="six_module_9.html">모듈세상</a></li>
                </ul>
                <li><a href="six_module_7.html">5. Service</a></li>
                <li><a href="six_module_8.html">6. Filter</a></li>
                <li><a href="todoApp.html">TODO APP</a></li>
                <li><a href="mathApp.html">MATH APP</a></li>
                <li><a href="login.html">로그인</a></li>
                <li><a href="signUp.html">가입하기</a></li>
            </ul>
        </div>
    </div>

    <section class="beeer_content">
    <hr>
    <h2>4-(2). 모듈의 기능별 분류</h2>
    <hr>
    <p>거대한 앱은 유지보수 기능확장에서 취약하다</p>
    <p>AngularJS 모듈을 이용하면 논리적으로 기능별로 묶고 폴더를 이용해 물리적으로 기능을 분류하면 거대한 앱에서 유지보수와 확장성에서 큰 이점</p>
        <code>angualr.module('myApp', ['myApp.user', 'myApp.bookmark']);</code>
            <br><br><code>angualr.module('myApp.bookmark', ['myApp.bookmark.controller', 'myApp.bookmark.service', 'myApp.bookmark.filter', 'myApp.bookmark.directive']);</code>
            <br><br><code>angualr.module('myApp.user', ['myApp.user.controller', 'myApp.user.service', 'myApp.user.filter', 'myApp.user.directive']);</code>
        <br><img src="../img/angular-seed_structor3.png"/>


    </section>

</div>

</body>

</html>