<!DOCTYPE html>
<html lang="ko" ng-app="beeersApp">
<head>
    <meta charset="utf-8">
    <title>Beeer's App Demo</title>
    <link rel="stylesheet" href="../../../lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/beeersAngularCss.css" />
    <script type="text/javascript" src="../../../lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../../lib/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="../../../lib/angular-animate/angular-animate.min.js"></script>

    <script type="text/javascript" src="../js/beeersAngularJs.js"></script>
</head>

<body>
<header class="site-header"> LOVE BeeEr </header>
<br>
<div >
    <div ng-controller="MainCtrl" class="navbar" align="left">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a href="welcome.html">홈</a></li>
                <li><a href="six_module.html">1. 모듈이란</a></li>
                <li><a href="six_module_2.html">2. 컨트롤러</a></li>
                <li><a href="six_module_3.html">3. 다른모듈</a></li>
                <li><a href="six_module_4.html">4. 파일구조</a></li>
                <li><a href="six_module_7.html">5. Service</a></li>
                <li><a href="six_module_8.html">6. Filter</a></li>
                <li><a href="todoApp.html">TODO APP</a></li>
                <li><a href="mathApp.html">MATH APP</a></li>
                <li><a href="login.html">로그인</a></li>
                <li><a href="signUp.html">가입하기</a></li>
            </ul>
        </div>
    </div>
    <section class="beeer_content">

        <hr>
        <h2>3. 다른 모듈의 사용 </h2>
        <hr>
        재사용되는 코드의 단위를 좀 더 세세하게 쪼개서 여러 모듈로 만들고 싶을 때는 어떻게 하면 좋을까?<br><br>

        <code class="that">angular.module("ngBookmark", ["moduleA", "moduleB"])</code>

        <hr>
        <iframe width="100%" height="300" src="//jsfiddle.net/soorichung/hbyhzqgc/embedded/js,html,result/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
        <hr>
        <ul>
            <li class="that">오픈소스 모듈 개발사이트 : <a href="http://ngmodules.org" target="_blank">http://ngmodules.org</a></li>
        </ul>

        <hr>

    </section>

</div>

</body>

</html>