<!DOCTYPE html>
<html lang="ko" ng-app="beeersApp">
<head>
    <meta charset="utf-8">
    <title>Beeer's App Demo</title>
    <link rel="stylesheet" href="../../../lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/beeersAngularCss.css" />
    <script type="text/javascript" src="../../../lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../../lib/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="../../../lib/angular-animate/angular-animate.min.js"></script>

    <script type="text/javascript" src="../js/beeersAngularJs.js"></script>
</head>

<body>
<header class="site-header"> LOVE BeeEr </header>
<br>
<div >
    <div ng-controller="MainCtrl" class="navbar" align="left">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a href="welcome.html">홈</a></li>
                <li><a href="six_module.html">1. 모듈이란</a></li>
                <li><a href="six_module_2.html">2. 컨트롤러</a></li>
                <li><a href="six_module_3.html">3. 다른모듈</a></li>
                <li><a href="six_module_4.html">4. 파일구조</a></li>
                <li><a href="six_module_7.html">5. Service</a></li>
                <li><a href="six_module_8.html">6. Filter</a></li>
                <li><a href="todoApp.html">TODO APP</a></li>
                <li><a href="mathApp.html">MATH APP</a></li>
                <li><a href="login.html">로그인</a></li>
                <li><a href="signUp.html">가입하기</a></li>
                <li><a href="../ui-bootstrap/ui-bootstrap.html">UI-Bootstrap</a></li>

            </ul>
        </div>
    </div>

    <section class="beeer_content">
        <hr>
        <h2>6. Filter</h2>
        <hr>
        <p>AngularJS에 필터는 크게 두가지 용도로 사용된다. </p>
        <ul>
            <li>데이터에 대하여 보이는 모습을 바꾸는데 사용된다</li>
            <li>여러 데이터 중 조건에 맞는 데이터만 보여줄 때 사용된다.</li>
        </ul>
        <p>포맷팅과 필터링하는데 사용된다고 볼 수 있다.</p>
        <p>AngularJS에서 서비스(Service)와 팩토리(factory)는 서로 상당한 유사성을 갖고 있기 때문에 쉽게 혼동할 수 있다. 특히 JavaScript의 유연한 타입으로 인해 라이브러리의 의도와는 다르게 그냥 동작하는 경우가 많다.
            서비스와 팩토리에서 가장 두드러진 차이점을 꼽는다면, 서비스에서는 초기화 과정이 존재하기 때문에 자연스럽게 prototype 상속이 가능하다.</p>
        <p>그래서 일반적으로 상속이 필요한 데이터 핸들링이나 모델링 등의 경우에는 서비스를 활용하고, helper나 정적 메소드와 같이 활용되는 경우는 팩토리로 구현을 많이 하는 것 같다.</p>
        <hr>
        <p class="that">필터 예제 </p>
        <iframe width="100%" height="300" src="//jsfiddle.net/soorichung/oz94w10k/embedded/js,html,result/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
    </section>

</div>

</body>

</html>
