<!DOCTYPE html>
<html lang="ko" ng-app="beeersApp">
<head>
    <meta charset="utf-8">
    <title>Beeer's App Demo</title>
    <link rel="stylesheet" href="../../../lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/beeersAngularCss.css" />
    <script type="text/javascript" src="../../../lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../../lib/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="../../../lib/angular-animate/angular-animate.min.js"></script>

    <script type="text/javascript" src="../js/beeersAngularJs.js"></script>
</head>

<body>
<header class="site-header"> LOVE BeeEr </header>
<br>
<div >
    <div ng-controller="MainCtrl" class="navbar" align="left">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a href="welcome.html">홈</a></li>
                <li><a href="six_module.html">1. 모듈이란</a></li>
                <li><a href="six_module_2.html">2. 컨트롤러</a></li>
                <li><a href="six_module_3.html">3. 다른모듈</a></li>
                <li><a href="six_module_4.html">4. 파일구조</a></li>
                <li><a href="six_module_7.html">5. Service</a></li>
                <li><a href="six_module_8.html">6. Filter</a></li>
                <li><a href="todoApp.html">TODO APP</a></li>
                <li><a href="mathApp.html">MATH APP</a></li>
                <li><a href="login.html">로그인</a></li>
                <li><a href="signUp.html">가입하기</a></li>
                <li><a href="../ui-bootstrap/ui-bootstrap.html">UI-Bootstrap</a></li>

            </ul>
        </div>
    </div>

    <section class="beeer_content">
        <hr>
        <h2>5. Service</h2>
        <hr>
        <p>여러 코드에서 반복적으로 사용되는 코드를 분리할 때 사용하는 기능으로, 해당 서비스가 필요한 곳에 의존성을 주입해 활용할 수 있다. </p>
        <p>서비스는 다음과 같은 특성이 있다.</p>
        <ul>
            <li>지연 초기화(Lazily instantiated): 의존성으로 주입하기 전까지는 초기화가 되지 않음.</li>
            <li>싱글턴(Singletons): 각각의 컴포넌트에서 하나의 인스턴스를 싱글턴으로 참조함.</li>
        </ul>
        <p>AngularJS에서 서비스(Service)와 팩토리(factory)는 서로 상당한 유사성을 갖고 있기 때문에 쉽게 혼동할 수 있다. 특히 JavaScript의 유연한 타입으로 인해 라이브러리의 의도와는 다르게 그냥 동작하는 경우가 많다.
        서비스와 팩토리에서 가장 두드러진 차이점을 꼽는다면, 서비스에서는 초기화 과정이 존재하기 때문에 자연스럽게 prototype 상속이 가능하다.</p>
        <p>그래서 일반적으로 상속이 필요한 데이터 핸들링이나 모델링 등의 경우에는 서비스를 활용하고, helper나 정적 메소드와 같이 활용되는 경우는 팩토리로 구현을 많이 하는 것 같다.</p>
        <pre>
        // Service 정의
        app.service('testService', function(){
        this.sayHello= function(text){
            return "Service says \"Hello " + text + "\"";
        };
        });

        // AngularJS Controller that uses the service
        function HelloCtrl($scope, testService)
        {
            $scope.fromService = testService.sayHello("World");
        }
        </pre>

    </section>

</div>

</body>

</html>
