<!DOCTYPE html>
<html lang="ko" ng-app="beeersApp">
<head>
    <meta charset="utf-8">
    <title>Beeer's App Demo</title>
    <link rel="stylesheet" href="../../../lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/beeersAngularCss.css" />
    <script type="text/javascript" src="../../../lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../../lib/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="../../../lib/angular-animate/angular-animate.min.js"></script>

    <script type="text/javascript" src="../js/beeersAngularJs.js"></script>
</head>

<body>
<header class="site-header"> LOVE BeeEr </header>
<br>
<div >
    <div ng-controller="MainCtrl" class="navbar" align="left">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a href="welcome.html">홈</a></li>
                <li><a href="six_module.html">1. 모듈이란</a></li>
                <li><a href="six_module_2.html">2. 컨트롤러</a></li>
                <li><a href="six_module_3.html">3. 다른모듈</a></li>
                <li><a href="six_module_4.html">4. 파일구조</a></li>
                <li><a href="six_module_7.html">5. Service</a></li>
                <li><a href="six_module_8.html">6. Filter</a></li>
                <li><a href="todoApp.html">TODO APP</a></li>
                <li><a href="mathApp.html">MATH APP</a></li>
                <li><a href="login.html">로그인</a></li>
                <li><a href="signUp.html">가입하기</a></li>
            </ul>
        </div>
    </div>
    <section class="beeer_content">
        <hr>
        <h2>1. 모듈이란?</h2>
        <hr>

            <p class="that">모듈 : 컨트롤러, 서비스, 필터, 지시자를 담는 그릇</p>

        <div>
            <p>하나의 angualrJs app은 하나의 모듈을 지정할 수 있다.</p>
            <p>대부분의 앱은 메인 메서드를 가지고 있어 파트별로 인스턴스화 되고 연결되어 있다. </p>
            <p>angularjs는 메인 메서드를 가지고 있지 않은 대신 모듈을 선언하여 사용한다.</p>
            <p>관련된 기능을 하나로 묶어 다른 코드와 결합도를 줄이고 재 사용성을 높이기 위해 사용한다.</p>
            <ul>
                <li>
                    모듈 별로 쪼개서 프로세스를 쉽게 이해할 수 있다
                </li>
                <li>
                    재사용이 가능한 모듈로 패키징할 수 있다
                </li>
                <li>
                    필요한 모듈은 언제든 로딩하여 사용할 수 있다.
                </li>
                <li>
                    단위 테스트가 수월하고 end-to-end 테스팅도 가능한다
                </li>
            </ul>

        </div>
            <hr>
        <code class="that">angular.module("모듈이름", ["사용할 모듈"])</code>

            <p>
        angular.module 함수를 이용해 모듈을 만들면 모듈 인스턴스가 반환
            </p>
            <hr>
        <p class="that">모듈 인스턴스 메서드 (v1.4.11.기준)</p>
        <table class="table table-striped table-bordered table-hover">
            <theader>
                <th>모듈 메서드</th>
                <th>설명</th>

            </theader>
            <tbody>
            <tr>
            <td>      <code>  module.config(configFunction)</code> </td>
            <td>모듈이 로딩될 때 호출되며 config 함수에 해당 익명 함수로 서비스를 설정할 수 있다.</td>
            </tr>
            <tr>
                <td>      <code>  moduel.constant(name, object)</code>
                </td>
                <td>        상수 등록
                </td>
            </tr>
            <tr>
                <td>      <code>  module.controller(name, constructor) </code>
                </td>
                <td>        컨트롤러 등록
                </td>
            </tr>
            <tr>
                <td>     <code>   module.direcetive(name, directiveFactory) </code>
                </td>
                <td>        지시자 등록
                </td>
            </tr>
            <tr>
                <td>      <code>  module.factory(name, providerFuction) </code>
                </td>
                <td>        서비스를 팩토리 형태로 등록
                </td>
            </tr>
            <tr>
                <td>     <code>   module.filter(name, filterFactory) </code>
                </td>
                <td>        필터 등록
                </td>
            </tr>
            <tr>
                <td>     <code>   module.provider(name, providerType) </code>
                </td>
                <td>        서비스를 제공하는 프로바이더를 등록
                </td>
            </tr>
            <tr>
                <td>     <code>   module.run(initializationFn) </code>
                </td>
                <td>        앱 초기화 함수 등록. 모든 모듈 등록이 완료된 후 초기화 함수 실행
                </td>
            </tr>

            <tr>
                <td>     <code>   module.service(name, constructor) </code>
                </td>
                <td>        서비스 등록
                </td>
            </tr>
            <tr>
                <td>      <code>  module.value(name, object) </code>
                </td>
                <td>        객체 등록
                </td>
            </tr>
            <tr class="table_color">
                <td>     <code>   module.decorator(name, decoFn(function, array))</code>
                </td>
                <td>        데코레이션 등록
                </td>
            </tr>
            <tr class="table_color">
                <td>      <code>  module.animation(name, animationFactory(function))</code>
                </td>
                <td>        애니메이션 등록
                </td>
            </tr>


            </tbody>

        </table>

    </section>

</div>

</body>

</html>