<!doctype html>
<html ng-app="myApp">
 	<head>
	  	<meta charset="UTF-8">
	  	<script src="../../../plugins/angular/angular.js"></script>
	  	<script src="../../../plugins/jquery/dist/jquery.js"></script>
	  	<script>
	  		// function customerCtrl($scope){
	  		// 는 안되는 것 같다.
	  		// 버전차이 때문인가!!
	  		var app = angular.module('myApp', []).controller('customerCtrl', function($scope) {
	    		var customerList = [{name:'지혜', age:10, phone:'010-1111-2222'}, {name:'태호', age:19, phone:'010-3333-4444'}];
	    		var youngCusterList = [];
	
	    		angular.forEach(customerList, function(value, key){
		     		if(value.age < 18){
		      			youngCusterList.push(value);
		     		}
	    		});
	    		$scope.customerList = customerList;
	    		$scope.youngCusterList = youngCusterList;
	    		
	    		$scope.addNewCustomer = function () {
	    			$scope.customerList.push({
	    	            name: $("input[name=name]").val(),
	    	            age: $("input[name=age]").val(),
	    	            phone: $("input[name=phone]").val()
	    	        });
	    	        $scope.name  = '';
	    	        $scope.age   = '';
	    	        $scope.phone = '';
	    	        
	    	        if( $("input[name=age]").val() < 18 ){
	    	        	$scope.youngCusterList.push({
		    	            name: $("input[name=name]").val(),
		    	            age: $("input[name=age]").val(),
		    	            phone: $("input[name=phone]").val()
		    	        });
	    	        }
	    	    };
	   		});
	  	</script>
 	</head>
 	<body ng-controller="customerCtrl">
  		<div>
   			고객 목록
   			<ul>
    			<li ng-repeat="customer in customerList">
     				[{{$index + 1}}] 고객 이름 : {{customer.name}}, 고객 나이 : {{customer.age}}, 고객 전화번호 : {{customer.phone}}
    			</li>
   			</ul>
  		</div>
  		<div>
   			18세 미만 고객
   			<ul>
    			<li ng-repeat="youngCuster in youngCusterList">
     				[{{$index + 1}}] 고객 이름 : {{youngCuster.name}}, 고객 나이 : {{youngCuster.age}}, 고객 전화번호 : {{youngCuster.phone}}
    			</li>
   			</ul>
  		</div>
  		<br/>
  		<br/>
  		<form name="sampleForm">
      		이름 : <input type="text" name="name" ng-model="name" ng-maxlength="3" ng-required="true">
      		<span class="error" ng-show="sampleForm.name.$error.required">필수입력</span>
      		<br/>
      		나이 : <input type="text" name="age" ng-model="age" ng-maxlength="3">
      		<span class="error" ng-hide="sampleForm.age.$valid">3자리까지</span>
      		<br/>
      		전화번호 : <input type="text" name="phone" ng-model="phone" ng-pattern="/^\d{3}-\d{3,4}-\d{4}$/" >
      		<span class="error" ng-show="sampleForm.phone.$error.pattern">000-0000-0000</span>
      		<br/>
      		<p>사용자 정보 : {{name}}/{{age}}/{{tel}}</p>
      		<p>sampleForm.name.$valid = {{sampleForm.name.$valid}}</p>
      		<p>sampleForm.name.$error = {{sampleForm.name.$error}}</p>
      		<p>sampleForm.age.$valid = {{sampleForm.age.$valid}}</p>
      		<p>sampleForm.age.$error = {{sampleForm.age.$error}}</p>
      		<p>sampleForm.phone.$valid = {{sampleForm.phone.$valid}}</p>
      		<p>sampleForm.phone.$error = {{sampleForm.phone.$error}}</p>
      		<p>sampleForm.$valid = {{sampleForm.$valid}}</p>
      		<p>sampleForm.$error.required = {{!!sampleForm.$error.required}}</p>
      		<button ng-if="!sampleForm.$error.required" ng-click="addNewCustomer()">추가</button>
     	</form>
 	</body>
</html>