<!DOCTYPE html>
<html ng-app="myApp" ng-controller="todoCtrl">
  <head>
    <meta charset="utf-8">
    <title>TODO App Demo</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"> -->
    <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap-thema.min.css" />

    <script type="text/javascript" src="../libs/angular/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body class="well" ng-controller="todoCtrl">
    <h1>{{appName}}</h1>
    <p>
      전체 할 일 <strong>{{todoList.length}}</strong>개 / 남은 할일은 <strong>{{remain()}}</strong>개
      [ <a href="" ng-click="archive()">보관하기</a> ]
    </p>
    <ul class="list-unstyled" style="padding-left:20px;">
      <li class="checkbox" ng-repeat="item in todoList">
        <input type="checkbox" ng-model="item.done" id="{{item.title}}">
        <label for="{{item.title}}">{{item.title}}</label>
      </li>
    </ul>
    <!-- <ul class="list-unstyled" style="padding-left:20px;">
      <li class="checkbox"><input type="checkbox" name="name" value="">AngularJS 독서</li>
      <li class="checkbox"><input type="checkbox" name="name" value="">개인 프로젝트 구성</li>
    </ul> -->

    <form class="form-inline" name="newItemForm" action="index.html">
      <div class="form-group">
        <label for="newItemText" class="sr-only">새로운 할 일</label>
        <input type="text" class="form-control" name="newItemText" placeholder="새로운 할 일" value="" ng-model="newTitle">
      </div>
      <button type="button" class="btn btn-default" name="button" ng-click="addNewItem()">추가</button>
    </form>
  </body>
</html>
